<h3>#4&nbsp;: Immaculée Conception</h3>

<p>✨️&nbsp;Aujourd'hui, nous vous proposons de prier avec les paroles d'un homme qui a passé sa vie à aimer Marie, pour mieux aimer Jésus.

<p>Homme passionné, frère franciscain, brillant théologien, <strong>saint Maximilien Kolbe</strong> a consacré toute sa vie et sa mission à Marie, celle qu'il appelait "l'Immaculée".

<p>🪶<br/>Alors qu'il était enfant, Marie lui apparait et lui montre deux couronnes, une blanche pour la pureté, une rouge pour le martyr, en lui demandant d'en choisir une. Maximilien choisit les deux.<br/>Entré dans l'ordre franciscain, il met tout en œuvre pour que l'Immaculée soit aimée et connue&nbsp;; il crée un journal, le chevalier de l'Immaculée, diffusé dans de nombreux pays, jusqu'au Japon, où il a été en mission plusieurs années. Il crée un mouvement, la milice de l'Immaculée, pour que tout un chacun puisse se consacrer à Marie et devenir <em>un instrument de son amour</em>.<br/>À Auschwitz, il a pris la place d'un père de famille tiré au sort avec 9 autres pour être executé en représailles de l'évasion d'un prisonnier. Jusqu'au bout, il a amené plus d'un à se tourner vers Dieu par Marie, à commencer par ses compagnons dans le "Bunker de la faim".

<p>🎶<br/>Petite touche plus explicitement franciscaine de l'album, voici un extrait de la <strong>prière de consécration à l'Immaculée de Maximilien</strong>&nbsp;: <em>Qu'en tes mains toutes pures, si riches de miséricorde, je devienne un instrument de ton amour&nbsp;!</em>

<p>Prière placeé au début de l'album <em>Nazaréenne</em>, comme une invitation à se laisser conduire par elle.<br/>Comme une invitation à contempler le mystère de son Immaculée Conception, mystère qui, dans le plan de Dieu pour Marie, précède tous les autres.<br/>Comme une invitation à se placer sous son manteau, en ses mains toutes pures, pour devenir comme Maximilien, <em>un instrument de son amour</em>.

<p>💐<br/>En union de prière avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>Immaculée Conception</strong> sera le deuxième chant de l’album Nazaréenne, actuellement (et jusqu’au 17 mai) en cours de financement sur Ulule&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a></em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/hwL6PEOyUns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
