<h3>#6&nbsp;: Comblée-de-grâce</h3>

<p><em>Nous vous dévoilons aujourd'hui un extrait de <strong>Comblée-de-grâce</strong>&nbsp;: le dernier extrait de "Nazaréenne" que nous publions avant la fin de <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">la campagne de financement de l'album</a> (vendredi 17 mai, 23h59)&nbsp;!</em>

<p>🗓️<br/>Pour beaucoup, ce sont des paroles prononcées au quotidien&nbsp;: <em>Réjouis-toi Marie, comblée de grâce, le Seigneur est avec toi&nbsp;!</em>

<p>🔁<br/>Combien de fois, chaque jour dans le monde, dans combien de langues et de circonstances, est prononcée cette salutation de l'ange du Seigneur à cette jeune fille de Nazareth&nbsp;? Cette salutation, tout comme cette prière qui s'en suit, l'<em>Ave Maria</em>, mise en musique dans <em>Comblée-de-grâce</em>, est peut-être la plus impactante de notre histoire.

<p>😉<br/>Votre œil vous le dira, nous avons mis des tirets dans le titre du chant. C'est intentionnel, pour bien marquer qu'il s'agit d'un titre donné à Marie elle-même, et que l'ange, avant même de l'appeler <em>Marie</em>, lui a donné ce titre, tout comme il a donné de prime abord donné le titre d'Emmanuel, Dieu-avec-nous, à son enfant Jésus.

<p>🌼<br/>Ainsi, que cette prière, prononcée souvent, dans le Rosaire et à travers les joies et les épreuves de la vie, puisse nous rappeler cela. Pour chacune et chacun d'entre nous, Dieu a un titre, un appel spécifique, une grâce propre, une bénédiction&nbsp;: <em>pour toi et par toi, pour ceux qui t'entourent et pour les nations</em>.

<p>💐<br/>En union de prière avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>Comblée-de-grâce</strong>, chanté par Lise et sa marraine Astrid, sera le septième chant de l’album Nazaréenne, actuellement (et jusqu’au 17 mai 23h59) en cours de financement sur Ulule&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a></em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/KkvowKLLsfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
