<h3>#10&nbsp;: La joie du Ciel</h3>

<p><em>Voici le dernier extrait de notre album "Nazaréenne" qui sortira le 31 mai ✨<br/>Un extrait d'un chant pour entrer dans la joie&nbsp;: <strong>La joie du Ciel</strong>&nbsp;!</em>

<p>🧭<br/>Dieu veut nous accompagner sur un chemin d'éveil et de croissance. Et s'il y a bien une chose à laquelle Dieu nous éveille et dans laquelle il nous invite à croître, c'est&hellip; la joie&nbsp;!

<p>🌟<br/>Et quand on parle de la joie, on parle de <em>sa joie à lui</em>. La joie de Dieu, qui déborde de son cœur, qui jaillit au Ciel, rejaillit sur la terre, et nous emmène à lui.

<p>Ce <em>cycle</em> de la joie de Dieu, Marie nous aide à y entrer. Elle, qui a laissé vivre en elle cette joie en plénitude. Elle, la première traversée par la joie de Dieu de renouveler sa Création, pour en tirer le meilleur et lui redonner sa dignité. Elle, en première ligne pour nous montrer <em>la joie du Ciel</em>.

<p>🐦&nbsp;👶<br/>Frères et sœurs, avec elle, retrouvons cette joie de Dieu, cette <em>joie du Ciel</em>, au cœur de nos vies. Cette joie, que nous pouvons retrouver même dans les choses les plus simples, le chant d'un oiseau ou le regard d'un enfant, est certainement le plus grand des cadeaux pour notre monde aujourd'hui&nbsp;!

<p>💐<br/>En union de prière avec Marie pour ces derniers jours de mai&nbsp;!

<p>🥁<br/><em><strong>La joie du Ciel</strong>, inspiré des mystères joyeux du Rosaire, sera le quatrième chant de l’album <strong>Nazaréenne</strong>.<br/>Jusqu'au <strong>31 mai</strong>, il est toujours possible de commander un pack sur la page Ulule du projet&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a>.</em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/8NeqmNZqXwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
