<h3>#2&nbsp;: Tu as porté un enfant</h3>

<p>✨<br/>En ce premier samedi du mois de mai, on est très très heureux de vous partager un extrait d’un chant qui nous parle énormément : <strong>Tu as porté un enfant</strong>.

<p>🤱<br/>À travers ce chant, nous regardons Marie, la jeune fille de Nazareth à qui l’ange vient annoncer qu’elle va porter un enfant : le fils du Dieu vivant&nbsp;! Toute sa vie va changer, et avec elle le cours de l’Histoire. Mais elle dit sûre et certaine : <em>"que selon ta parole, tout m’advienne"</em>&nbsp;!

<p>🤲<br/>En écoutant ce petit extrait, on voulait simplement t’inviter toi aussi en ce jour à suivre l’exemple de Marie, à te remettre dans les mains du Père, en toute confiance, même sans tout comprendre et à dire avec elle <em>"que selon ta parole, tout m’advienne"</em>&nbsp;!

<p>💐<br/>En union de prière avec Marie en ce mois de mai&nbsp;!

<p>🥁<br/><em><strong>Tu as porté un enfant</strong> sera le 3ème chant de l’album Nazaréenne qui est actuellement (et jusqu’au 17 mai) en cours de financement sur Ulule (<a href="//ulule.com/etincelo-un-nouvel-album-avec-marie/" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a>). Vous y entendrez même le violoncelle de Frère Grégoire 🥰</em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/KMTiHvRwAXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
