<h3>#5&nbsp;: Ma reine et ma sœur</h3>

<p><em>Nous vous dévoilons aujourd'hui un extrait de <strong>Ma reine et ma sœur</strong>&nbsp;: l'avant-dernier extrait que nous publions avant le 17 mai, qui pour rappel sera le dernier jour de la campagne de financement de l'album Nazaréenne <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">en cours sur Ulule</a>&nbsp;!</em>

<p>🪔<br/>Nous le savons et nous avons en nous cette joie : nous avançons <strong>vers la lumière</strong> et <strong>vers la gloire éternelle</strong>&nbsp;!

<p>🗺️<br/>Cette <em>certitude de notre foi</em> est une raison de plus pour nous tourner vers Marie, car elle connait la route à suivre. Elle sait où nous allons, elle sait par où passer.<br/>Elle est là, <em>comme une rose sur le chemin</em>&nbsp;: elle nous entraîne un pas plus loin, pour nous emmener un peu plus près de cette gloire éternelle&nbsp;!

<p>🔋<br/>Probablement le chant le plus énergique de l'album <em>Nazaréenne</em>, <em>Ma reine et ma sœur</em> nous invite à marcher avec elle, dans tout ce qu'une longue marche peut comporter, en panoramas, en légèreté, en rencontres, mais aussi en doutes, en solitude, parfois même en lourdeurs.<br/><em>Ma reine et ma sœur</em> transporte dans son sac à dos une joie, celle de marcher avec elle, et ce, <em>jusqu'au bout du chemin</em>.

<p>💐<br/>En union de prière et en marche avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>Ma reine et ma sœur</strong> sera le sizième chant de l’album Nazaréenne, actuellement (et jusqu’au 17 mai) en cours de financement sur Ulule&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a></em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/6RUVwJREhQ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
