<h3>#7&nbsp;: Un chant pour notre Seigneur</h3>

<p><em>Nous vous dévoilons en ce dimanche un nouvel extrait de notre nouvel album "Nazaréenne" (qui sortira le 31 mai ✨)&nbsp;: <strong>Un chant pour notre Seigneur</strong>&nbsp;!</em>

<p>🔥<br/>Aujourd'hui, nous fêtons <strong>la Pentecôte</strong>&nbsp;!<br/>Nous célébrons un événement fondateur de l'Église&nbsp;: au Cénacle, quand l'Église des premiers apôtres a reçu le baptême dans le Saint-Esprit&nbsp;!

<p>💨<br/>Cela dit nous ne célébrons <em>pas seulement</em> un événement passé. Nous célébrons ce renouvellement permanent de l'Église par l'action du Saint-Esprit. Mieux que ça, nous célébrons cette troisième personne de la sainte Trinité&nbsp;! On oublie parfois cette équation&hellip; <em>Pentecôte = fête du Saint-Esprit = fête de Dieu, dans sa troisième personne</em>.

<p>🌊<br/>Bref, <strong>une très très grande mémoire, fête, solennité</strong> (tout ça à la fois&nbsp;!), essentielle, à la fois dans le mystère de Dieu et dans le mystère de l'Église.

<p><strong>Et Marie est présente.</strong>

<p>Elle est présente dans la naissance et le renouvellement de l'Église, car <strong>elle <em>connaît</em> l'Esprit Saint</strong>&nbsp;: elle connaît celui qui a conçu son Fils, celui qui a ressuscité son Fils, celui qui l'a saisie&nbsp;! Que chacune et chacun, nous puissions renouveler, dès ce jour, avec elle qui le connaît, notre vie avec le Saint-Esprit, lui qui renouvelle l'Église et la face de la terre&nbsp;!

<p>💐<br/>En union de prière avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>Un chant pour notre Seigneur</strong>, inspiré des mystères glorieux du Rosaire (qui comprennent la Pentecôte), sera le cinquième chant de l’album <strong>Nazaréenne</strong>.<br/>La campagne de financement de l'album est terminée (wow merci, tellement&nbsp;!), cela dit, nous avons décidé d'activer des "prolongations" <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">sur Ulule</a>&nbsp;: cela signifie qu'il est toujours possible (pour les ouvriers de la dernière heure, ou les plus enthousiastes) de commander un pack, et ce <strong>jusqu'au 31 mai</strong>, sur la page du projet&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a>.</em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/oa-u3NlWXW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

