<h3>#9&nbsp;: La femme couronnée</h3>

<p><em>Voici un nouvel extrait de notre album "Nazaréenne" qui sortira le 31 mai ✨<br/>Un extrait tiré du chant d'ouverture de l'album&nbsp;: <strong>La femme couronnée</strong>&nbsp;!</em>

<p>👸<br/><em>Nous contemplons la gloire du Seigneur, la majesté d’un Dieu si grand.<br/>Lui qui pour nous montrer sa douceur, nous a offert une maman.<br/>Marie, la mère offerte aux pécheurs qui gardent le cœur d’un enfant.<br/>La jeune fille ornée de blancheur, la femme couronnée par nos chants.</em>

<p>🎁<br/>À travers ce chant, nous sommes invités à recevoir un cadeau de Dieu. Le cadeau qu'il nous fait à la croix&nbsp;: il nous offre une maman.

<p>🏃<br/>Dans l’Évangile de ce jour (Mc 10, 13-16), Jésus nous indique que <em>celui qui n’accueille pas le royaume de Dieu à la manière d’un enfant, n’y entrera pas</em>. Or, un petit enfant est bien perdu sans sa maman pour lui indiquer le chemin, l’aider à grandir, à éviter les obstacles trop durs encore pour lui&hellip;

<p>🤝<br/>Alors, toi aussi, n’hésite pas à faire confiance à Marie, à lui donner la main. A coup sûr, elle te conduira vers son fils&nbsp;!

<p>💐<br/>En union de prière avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>La femme couronnée</strong>, sera le premier chant de l’album <strong>Nazaréenne</strong>.<br/>Jusqu'au <strong>31 mai</strong>, il est toujours possible de commander un pack sur la page Ulule du projet&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a>.</em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/nU5zDfTbN-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
