<h3>#1: Gardien du Rédempteur</h3>

<p>🪚 ⚒️<br/>En ce 1er mai, nous fêtons <strong>saint Joseph artisan</strong>, patron de tous les travailleurs et de toutes les travailleuses&nbsp;!
<p>Saint Joseph... avec toi <em>le Christ est devenu homme</em>&nbsp;!
<p>Nous savons bien peu de choses de toi mis à part le fait que tu étais un homme juste qui obéissait au Seigneur. Pourtant, <strong>quel homme tu devais être</strong> pour que le Seigneur choisisse de te confier son fils unique et pour que Marie t’accorde toute sa confiance&nbsp;!
<p>👦🏻 🌱<br/>Joseph a joué un rôle crucial dans la vie de Jésus, tout au long de son enfance, cette partie importante de sa vie sur terre dont nous ne savons presque rien. Pourtant, Dieu a choisi de prendre le temps, de naître et de grandir, <strong>au même rythme que chacun d’entre nous</strong>. N’est-ce pas également ce à quoi il nous invite souvent, prendre le temps, avancer sans vraiment savoir exactement ce que l’avenir nous réserve, à faire confiance et à laisser les choses mûrir au rythme de la nature et de la grâce.
<p>Quel <em>&quot;challenge&quot;</em> pour chacune et chacun d’entre nous dans un monde où tout va si vite&nbsp;!
<p>Joseph <strong>comprend bien ce que nous vivons</strong>, il a fait confiance à Dieu sans jamais voir l’accomplissement de la promesse de son vivant. Pourtant, il a joué un rôle essentiel.
<p>Cher ami, chère amie, <strong>n'hésite pas à lui confier ton quotidien</strong>, tes incompréhensions, tes doutes, tes tentatives, tes efforts, tes projets, et sois certain, certaine, qu’il intercède pour toi et qu’il te conduira au cœur de la Sainte Famille, près de Marie et Jésus.
<p>🙏 📃<br/>En ce jour de sa fête, nous te proposons cette magnifique prière à saint Joseph du Pape François. Peut-être l'occasion de lire ou de relire, tout ou partie de la lettre apostolique <em>Patris Corde</em> dont elle est tirée. C’est un petit bijou&nbsp;! 😊
<p>En union de prière, c’est parti pour un beau mois de mai&nbsp;! 💐

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/DCv0E5Pp4Fw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
