<h3>#8&nbsp;: Bienheureuse Marie</h3>

<p><em>Voici un nouvel extrait de notre album "Nazaréenne" qui sortira le 31 mai ✨<br/>Un extrait tiré d'un chant qui nous réjouit depuis déjà 10 ans&nbsp;: <strong>Bienheureuse Marie</strong>&nbsp;!</em>

<p>↕️<br/>Tout comme le Seigneur <em>s'est penché sur son humble servante</em>, son humble servante se penche vers nous, pour une seule chose&nbsp;: nous tourner vers lui&nbsp;!

<p>Et puisqu'il s'est penché sur elle, <em>tous les âges la diront</em> - ou grâce à notre chant de ce jour, la chanteront - <em>bienheureuse</em>&nbsp;!

<p>🎶<br/>Dans le <em>Magnificat</em>, Marie nous livre une prière magnifique&nbsp;: comment rester humble, petite devant son Créateur, tout en affirmant que toutes les générations la diront et la chanteront bienheureuse - avec Etincelo pourquoi pas&nbsp;!

<p>↔️<br/>Cela peut être le bon élan pour chacune et chacun de nous dès aujourd'hui. Que Dieu grandisse et prenne une telle place que notre joie déborde&nbsp;! Et dans le même temps, que nous prenions conscience que nous sommes bien peu devant lui, que nous sommes dans la paume de sa main, que nous sommes faits pour lui - et non lui pour nous&hellip;

<p>Bienheureuse Marie, toi sur qui Dieu s'est penché, penche toi vers nous&hellip; pour nous tourner vers Dieu. Et que nous puissions aussi, en toute humilité comme toi, nous pencher vers ceux que le Seigneur mettra sur notre route&hellip; pour les tourner vers Dieu&nbsp;!

<p>💐<br/>En union de prière avec Marie en ce beau mois de mai&nbsp;!

<p>🥁<br/><em><strong>Bienheureuse Marie</strong>, notre tout premier chant dédié à Marie, qui était présent dans notre premier opus <strong>Ton amour pour moi</strong>, sera le huitième chant de l’album <strong>Nazaréenne</strong>.<br/>Jusqu'au <strong>31 mai</strong>, il est toujours possible de commander un pack sur la page Ulule du projet&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a>.</em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/qIkESAUuAQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

