<h3>#3&nbsp;: Humble nazaréenne</h3>

<p>✨️<br/>Nous vous partageons aujourd’hui le refrain du dernier chant de l’album : <strong>Humble Nazaréenne</strong>.

<p>💃<br/>Ce chant, inspiré du <em>Magnificat</em>, nous invite à l’intérioriser et à en faire notre prière.

<p>🎶<br/><em>Et je danse avec toi à la face du Père, accueillant comme toi les mystères de ses voies, assuré qu’il fera par ma vie des merveilles telles qu’il fit par toi, humble nazaréenne&nbsp;!</em>

<p>🤲<br/>En suivant l’exemple de Marie, elle t’invite à te remettre dans les mains du Père mais pas dans une démarche un peu fatiliste. Elle t’invite à entrer dans une démarche de pleine espérance : ton Dieu t’aime, a un projet d’amour pour toi et t’invite à accueillir le fait que parfois tu ne comprends pas tout, avec cette assurance qu’il fera à travers toi des merveilles si tu choisis de le suivre&nbsp;!

<p>📻<br/>On a vraiment hâte de te partager ce chant en entier qui donne tout son contexte à ce refrain et pour les plus curieux : ce chant est passé en avant première sur RCF Belgique la semaine dernière et vous pouvez le retrouver ici&nbsp;: <a href="https://www.rcf.fr/actualite/decryptages?episode=479270&share=1" target="_blank">https://www.rcf.fr/actualite/decryptages?episode=479270&share=1</a> (minute 39 😉)

<p>💐<br/>En union de prière avec Marie en ce mois de mai&nbsp;!

<p>🥁<br/><em><strong>Humble Nazaréenne</strong> sera le dixième et dernier chant de l’album Nazaréenne, actuellement (et jusqu’au 17 mai) en cours de financement sur Ulule&nbsp;: <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">https://www.ulule.com/etincelo-un-nouvel-album-avec-marie</a></em>

<div>
<iframe width="100%" height="640px" src="https://www.youtube-nocookie.com/embed/05e9GkB0esU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
