<article style="background: {{ item['palette'][2] }}">
  <div class="shop-article-main">
    <h4 style="color: {{ item['palette'][1] }}">Ton amour pour moi.</h4>
    {% for color in item['palette'][0:2] %}
      <div style="height:10px;background: {{ color }};"></div>
    {% endfor %}
    <div style="color: {{ item['palette'][0] }}">
      <p class="shop-article-description"><small>À Noël 2013, Etincelo se lance dans la petite aventure «&nbsp;Ton Amour pour moi&nbsp;».<br>Avec ses 4 chants et ses bonus de Noël, ce petit EP sans prétention dévoile les racines du groupe.<br>Vous y retrouverez entre autres les chants <em>Les amis de Dieu</em> et <em>Bienheureuse Marie</em>.</small>
      <dl class="shop-article-properties">
        <dt>Prix</dt>
        <dd style="margin-left: 0">{{ item['price'] }}€</dd>
      </dl>
    </div>
  </div>
  <div class="shop-article-view">
    <div class="picture-container">
      <img src="/images/tapm.artwork.png" alt="Ton amour pour moi">
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <button style="background: {{ item['palette'][0] }};color: {{ item['palette'][2] }}" type="submit">Ajouter à mon panier</button>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="{{ item['button_id'] }}">
      <img alt="" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1" border="0">
    </form>
  </div>
</article>
