<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/5.jpg" /></a>
</div>

<h3>Jour 5&nbsp;: Le privilège de la pauvreté</h3>

<p><strong><span class="preamble">Le Seigneur nous conduit</span> sur un chemin de détachement&nbsp;; car nos pauvretés constituent le lieu privilégié pour le rencontrer et la route la plus directe pour nous donner entièrement à lui. Aujourd’hui, Dieu nous offre de lâcher prise, pour une plus grande liberté&nbsp;!</strong>

<p>Sur l’exemple de François, les pénitents d’Assise ont choisi une épouse. «&nbsp;Dame pauvreté&nbsp;».
<p>Ils se consacrent tout entier à elle. Le Christ l’ayant lui-même choisie, ils sont convaincus qu’il s’agit bien là d’un privilège, d’une voie royale pour retourner à la radicalité et la joie de l’Évangile.
<p>Une noble jeune fille d’Assise s’est elle aussi laissée convaincre. Claire Offreduccio a 16 ans quand elle entend le fils du riche marchand d’étoffes faire l’éloge de son épouse «&nbsp;Dame pauvreté&nbsp;». Depuis, lorsqu’un pénitent est de passage, elle observe à sa fenêtre et elle se souvient. Elle se souvient que le désir infini de son âme ne sera jamais comblé par les convenances, les privilèges et les richesses de sa lignée.
<p>À l’approche de ses 18 ans, une semaine avant Pâques, Claire va vivre un grand passage.
<p>La nuit tombe, le silence se fait. Claire, qui était à genoux, se lève. Elle ferme le rideau de sa chambre. Accompagnée par sa tante, à la lueur d’un flambeau, elle quitte définitivement les murs d’Assise. Sur ces quelques kilomètres qui séparent la ville de la Portioncule, où François et ses frères l’attendent, son cœur brûle, un peu plus à chaque pas.
<p>Elle aussi, en cette même nuit, choisira la pauvreté du Christ comme seul et unique privilège, sans regarder en arrière.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 À ceux qui l'aiment (Etincelo)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/iKMtZljz0r8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
