<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/6.jpg" /></a>
</div>

<h3>Jour 6&nbsp;: L’Évangile, rien que l’Évangile</h3>

<p><strong><span class="preamble">Le Seigneur nous conduit</span> sur un chemin de vie. Par une vocation propre à chacun et chacune, il nous oriente vers la plénitude. Et aujourd’hui, de manière personnelle, il veut nous dire ce que «&nbsp;vivre de sa vie&nbsp;» signifie&nbsp;!</strong>

<p>La participation de François à la vie même de Dieu est indéniable et inspirera tant de ceux qui, comme Bernard ou Claire, croiseront sa route ou entendront son témoignage.
<p>Le retour à l’Évangile, rien que l’Évangile&nbsp;; l’amour inconditionnel d’une Église «&nbsp;à réparer&nbsp;», épouse du Christ&nbsp;; le privilège de ne rien avoir en propre pour recevoir son Dieu, «&nbsp;son tout&nbsp;»&nbsp;; l’élan fraternel comme élan vers Dieu, considérant chaque créature comme un don du Très Haut.
<p>Les frères deviennent nombreux. Très nombreux. Sous les yeux de François, une déferlante de la force de vie qui est en Dieu se manifeste. Une force de vie incontrôlable, qui le dépasse complètement. Et comment, se dit-il, comment donc garder l’Évangile, rien que l’Évangile, comme seul et unique souci, tout en apportant le soin nécessaire à la croissance de chacun de mes frères&nbsp;? Et n’est-il pas difficile, ô Seigneur, de rester humbles, pauvres et missionnaires, quand la charge de l’organisation communautaire prend une telle ampleur&nbsp;?
<p>Mais voilà&nbsp;; l’Esprit Saint n’a pas fini de le conduire, pour que la vie de Dieu se déploie toujours plus en chacun.
<p>C’est lui qui lui insufflera la règle des frères mineurs, qui permettra de garder intacte son intuition et l’Esprit de l’Évangile, notamment à travers la minorité. C’est lui qui lui enverra des laïcs désireux, eux aussi, de le suivre et de vivre l’Évangile dans leur état de vie, donnant ainsi naissance à un troisième ordre, l’Ordre des pénitents. C’est lui, l’Esprit Saint, qui lui permettra de goûter tout le sens de ce qu’être frère signifie : tous, recevant la vie du même Père.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Nous nous levons avec toi (Etincelo)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/H2M01iPKGMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
