<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/2.jpg" /></a>
</div>

<h3>Jour 2&nbsp;: Un geste «&nbsp;sans&nbsp;» barrière</h3>

<p><strong><span class="preamble">Le Seigneur nous a fait</span> pour construire des ponts - et non pas des barrières. Il nous donne aujourd’hui une oreille attentive, un frère à embrasser… et nous invite à descendre de cheval.</strong>

<p>François reçut à Spolète cette réponse&nbsp;: <em>«&nbsp;Retourne à Assise, ma volonté te sera révélée&nbsp;!&nbsp;»</em>
<p>François se laisse interpeller. Il rebrousse chemin, seule façon pour lui de prendre de l’avant pour connaître la volonté de Dieu. Quand bien même faudra-t-il affronter le regard déçu de ceux qui acclamaient son départ.
<p>Le voici de retour. Mais dorénavant, il sait qu’une victoire bien plus grande l’attend. Son cœur à l’écoute, alors sur son cheval dans les plaines d’Assise, il entend soudainement ce crissement que tout homme raisonnable se devrait d’écouter&nbsp;: la crécelle d’un lépreux…
<p>Sauf que ce jour-là, François l’écoute autrement. Il arrête son cheval. Après un instant de silence, le vent soufflant sur son visage, il entend à nouveau la crécelle résonner. Luttant intérieurement et intensément, il sent le Seigneur faire son œuvre en lui. Ce son répété, qui invitait son vieil homme à construire des barrières, l’entraîne sur une autre route. Descendre. Se dépasser. S’avancer. Embrasser le frère lépreux. Une fois ce geste posé, les barrières éclatent, ce qui lui semblait jusque-là insupportable s’était transformé en douceur. En embrassant ce frère, François a embrassé sa vie nouvelle.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 À ta suite (Répare mon Église)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/sR1eML931Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
