<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/9.jpg" /></a>
</div>

<h3>Jour 9&nbsp;: Notre sœur, la mort corporelle</h3>

<p><strong><span class="preamble">Le Seigneur se montre à nous</span> dans toutes ses créatures et créations, auxquelles «&nbsp;nul homme vivant ne peut échapper&nbsp;» ou se soustraire. Aujourd’hui, nous sommes invités à louer et bénir le Seigneur, émerveillés devant chacune d’elles, de frère Soleil à notre sœur la mort corporelle&nbsp;!</strong>

<p>Après qu’il ait reçu les blessures même du Christ, le corps de François, qui avait aussi connu bien souvent la rudesse de l’ascèse, est fort affaibli. Petit à petit, ses yeux malades perdent la vue. L’une après l’autre, mois après mois, chaque partie de son corps s’engourdit d’une douleur de l’ordre de l’insoutenable.
<p>Quand bien même ses forces déclinent, la vitalité de son esprit déborde&nbsp;; François n’est plus que louange, sous le regard à la fois émerveillé et rempli de compassion des ses frères.
<p>Il écrit peu avant sa mort, le cantique de frère Soleil. Bien qu’incapable désormais d’admirer les créatures du Seigneur de ses yeux de chair, il lui semble ne les avoir jamais aussi bien connues. Sachant d’où il vient, par où il passera, et où il va, il ajoute plus tard le couplet qui encourage toute la création à se tourner vers la gloire de l’Éternité, désignant la Mort corporelle comme une sœur qui vient nous trouver pour nous emmener à la grande rencontre avec le Seigneur.
<p>Le 3 octobre 1226, le voici, selon ses propres termes, devant la porte de la vie.
<p>Entouré de ses frères, les exhortant incessamment à la louange de Dieu, son âme s’élève dans un débordement de lumière, laissant derrière elle une paix céleste et un élan de louange qui demeurent encore aujourd’hui, 800 ans après lui.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Louez et bénissez (Répare mon Église)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/Wdjqv7WN9Eo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>

