<div style="text-align: center">
  <img style="max-height: 300px; max-width: 100%" src="images/neuvaine-francois/1.jpg" /></a>
</div>

<h3>Jour 1&nbsp;: Des rêves de gloire</h3>

<p><strong><span class="preamble">Le Seigneur nous a fait</span> avec des rêves de gloire, une aspiration à vivre une grande aventure. Et il nous dit aujourd’hui&nbsp;: «&nbsp;qui peut te donner davantage&nbsp;?&nbsp;»</strong>

<p>François a 24 ans. Il prépare son cheval, se revêt de son armure. Il quitte Assise sous les acclamations, finement paré pour les conquêtes les plus glorieuses.
<p>Il se dirige vers le sud, pour rejoindre l’armée de Gauthier de Brienne.
<p>François et ses compagnons de route passeront la nuit à Foligno. Le lendemain, son corps récemment fragilisé par des mois de captivité se sent déjà fébrile, écrasé par le poids du jour. À la tombée de la nuit, à Spolète, il s’écroule de fatigue et entend en songe&nbsp;: <em>«&nbsp;François, François, qui peut te donner d’avantage&nbsp;? Le maître ou le serviteur&nbsp;?&nbsp;»</em>
<p>Cette parole est pour nous aujourd’hui, qui commençons cette neuvaine. Dieu nous veut à sa suite, pour ses rêves de gloire&nbsp;! À nous de lui répondre, comme François l’a fait&nbsp;: <em>«&nbsp;Seigneur que veux-tu que je fasse&nbsp;?&nbsp;»</em>, assurés que nous sommes, entre ses mains, un instrument pour réaliser son œuvre et pouvoir proclamer les merveilles qu’il fait dans nos vies.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Prière à la paix (Répare mon Église)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/qXYjGYUPGPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
