<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/7.jpg" /></a>
</div>

<h3>Jour 7&nbsp;: Regardez l’humilité de Dieu</h3>

<p><strong><span class="preamble">Le Seigneur se montre à nous</span> dans chaque expérience du quotidien, aussi simple, aussi petite soit-elle, dévoilant à la fois son humilité et sa majesté&nbsp;! Aujourd’hui, il nous appelle à un petit pas pour «&nbsp;convertir&nbsp;» notre regard…</strong>

<p><em>«&nbsp;Je veux le voir, de mes yeux de chair, tel qu’il était, couché dans une mangeoire&nbsp;!&nbsp;»</em>
<p>C’est ainsi que François exprime à son ami Jean sa soif de contempler de ses yeux le mystère de Dieu fait homme, au milieu des hommes, dans le plus grand dénuement.
<p>Nous sommes en 1223 et grâce à ce désir de François, la simplicité et la pauvreté de la Nativité seront placées sous le regard des habitants de la région de Greccio. Tous, de tous âges et de tous horizons, seront invités à se réunir autour d’un nouveau-né, tout contre de sa mère, à venir adorer Jésus tel qu’il était.
<p>Les foules rejoignent le flanc de cette montagne dans la joie et la fête. Devant l’enfant de Bethléem, comme François aime à l’appeler, le désarmement est total. La paix du cœur est retrouvée, le regard change.
<p>François se lève et chante l’Évangile, qui prend une dimension nouvelle grâce à une expérience visible et tangible. Il prêche ensuite avec émotion, invitant ceux et celles qui le veulent à se laisser regarder par Dieu dans la douceur de cette nuit. Vraiment, de quel beau, tendre et humble regard Dieu doit-il nous aimer, s’il accepte de nous regarder à travers les yeux d’un enfant&nbsp;!

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Nous t'adorons (Répare mon Église)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/jXeBCToIl0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
