<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/8.jpg" /></a>
</div>

<h3>Jour 8&nbsp;: Transpercé d’amour</h3>

<p><strong><span class="preamble">Le Seigneur se montre à nous</span> dans un corps blessé, marqué, traversé par l’amour. Aujourd’hui, il nous fait la grâce de trouver en nos blessures une opportunité d’aimer toujours plus comme lui, la source de l’amour&nbsp;!</strong>

<p>D’ermitage en ermitage, de creux de rochers en lieux reculés et escarpés, François cherche fréquemment l’intimité du Seigneur.
<p>Ce n’est ni plus ni moins qu’une communion parfaite avec lui qu’il recherche insatiablement.
<p>Le mont Alverne, lieu d’ermitage reçu en 1213 du comte Roland de Chiusi, est un trésor, une véritable panoplie de tous ces reliefs que François arpente dans sa prière. En quelque crevasse, bien souvent sombre et fraîche, il se sent comme immergé dans la plaie du cốté du Christ. En quelque sommet, il lui semble se retrouver sur le mont Thabor, baigné dans l’éclat du Seigneur.
<p>Il n’a de cesse de fixer ses yeux sur le point commun, le résumé, la raison et la finalité de toute chose&nbsp;: l’Amour. Ses larmes coulent bien souvent, à la simple idée qu’un si grand Amour puisse ne pas être aimé. Il demande sans relâche, la grâce de ressentir cet Amour, sachant pertinemment qu’il est indissociable de la Passion, d’une souffrance déchirante, d’un don total.
<p>Sa prière entendue, la grâce reçue à l’Alverne en 1224 est immense. Voilà qu’un séraphin, ange à 6 ailes se montre à lui sur une croix, comme signe de cette communion parfaite tant désirée. Voilà que, recevant les stigmates, l’amour de l’Amour est manifesté, dans sa chair.

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Par amour de ton Amour (Etincelo)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/nqvxbRcvRxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
