<div style="text-align: center">
  <img loading="lazy" style="height: 300px; max-width: 100%" src="images/neuvaine-francois/4.jpg" /></a>
</div>

<h3>Jour 4&nbsp;: Les pénitents d’Assise</h3>

<p><strong><span class="preamble">Le Seigneur nous conduit</span> sur un chemin de conversion. Il serait même plus exact de parler de «&nbsp;conversions&nbsp;» (au pluriel)&nbsp;; car nous avons la certitude qu’aujourd’hui aussi, une conversion est devant chacun et chacune de nous, pour plus d’amour - et plus de joie&nbsp;!</strong>
<p>Des mois durant, la réparation de l’église de San Damiano travaille le cœur de François.
<p>Ce projet reçu de Dieu sera certes l’occasion pour lui de déployer soin et amour, de nourrir son feu intérieur, de vivre de belles rencontres, mais aussi… de multiples épreuves et purifications, que Dieu lui donnera la force de traverser.
<p>Ce changement radical de cap rend fou de colère son père Pietro, qui tente plusieurs fois de le retrouver pour le ramener à la raison. Sachant sa rage, François prend peur. Il se cache dans une grotte. Il prie. Avec insistance. Il demande la force. Un mois plus tard, son âme trouve la paix et il prend la direction d’Assise.
<p>Par la grâce reçue de Dieu, ce que son père perdra de patience, lui semblera s’en revêtir. Ce que les habitants d’Assise manifesteront de moqueries ou de dédain, lui saura le transformer en opportunité de conversion et de pénitence, pour une plus grande paix. Quand son père finira par lui demander de lui rendre son argent, François lui rendra aussi ses vêtements, pour une plus grande liberté.
<p>Quittant le monde, se revêtant d’une simple tunique, sa détermination n’a jamais été aussi grande et sa joie n’a jamais autant rayonné. Rejoints dans leur désir, un à un, à commencer par son riche ami Bernard, quelques compagnons, laissant tout derrière eux, le suivent. Ensemble, dans le même élan, la même joie, ils mendient leur pain. Et quand on leur demande qui ils sont et d’où ils viennent, ils se déclarent «&nbsp;pénitents d’Assise&nbsp;».

{% include 'neuvaine-francois-prieres.jinja' %}

<h3>🎶 Sachons aimer (Etincelo)</h3>
<div><iframe width="100%" src="https://www.youtube-nocookie.com/embed/IYLfNfy7ruI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
