{% extends "base.jinja" %}

{% block title %}Etincelo | Annulation de la commande{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <p>Votre commande a bien été annulée.
      <p style="text-align:center"><a href="boutique.html">Retour à la boutique</a>
    </article>
  </section>
{% endblock %}
