<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<title>{% block title %}{% endblock %}</title>
<style>
  body {
    background: ivory
  }
  .has-background {
    background-image: url(/images/photo-1430799800631-b8de6ce1fad5.jpg);
    background-position: 50% 20%;
    background-size: cover;
  }
  nav {
    background: rgba(255,255,255,0.8);
  }
  nav.secondary-nav {
    background: rgba(255,255,255,1);
  }
  footer {
    background: rgb(102, 48, 48);
    color: #FFF
  }
  input[type=email] {
    background-color: #e1e1e1;
  }
  #newsletters {
    background-color: aliceblue
  }
  article.highlight {
    background-color: beige;
  }
  article p {
    text-align: justify;
  }
  footer a {
    color: #fff
  }
  @media (prefers-color-scheme: dark){
    body {
      background:#000
    }
    .has-background {
      background-image: unset;
    }
    nav, nav.secondary-nav {
      background: rgba(0,0,0,0.9);
    }
    svg.etincelo-logo .etincelo-main {
      fill: #ffebcd;
    }
    ul.etincelo-menu {
      border: 1px solid;
    }
    footer {
      background-color: #292929;
      color: unset
    }
    #newsletters {
      background-color: #292929;
    }
    article.highlight {
      background-color: #292929;
    }
    #inputEmail {
      background-color: #8a8a8a
    }
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    margin:0 auto;
    font:1.2em/1.62 sans-serif
  }
  body > header {
    padding: 1em 0 0 0;
  }
  section {
    margin: 0 auto;
    padding: 0 .62em;
    max-width:40em;
  }
  main {
    flex: 1;
  }
  h1,h2,h3 {
    line-height:1.2
  }
  @media print{
    body{
      max-width:none
    }
  }
  section.logo-container {
    margin-bottom: 1em;
  }
  svg.etincelo-logo {
    width: 100%;
    height: 96px;
  }
  svg.etincelo-logo .etincelo-highlight {
    fill: #d5261a;
  }
  ul.etincelo-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav.secondary-nav ul.etincelo-menu {
    font-size: 0.8em;
  }
  ul.etincelo-menu li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.etincelo-menu li a {
    color: unset;
  }
  nav.secondary-nav ul.etincelo-menu li a {
    padding: 8px 10px;
  }
  ul.etincelo-menu li.active a {
    background-color: #FFD298;
    color: #000
  }
  ul.etincelo-menu li.flex-1 {
    flex-grow: 1;
  }
  ul.etincelo-menu li.disabled a {
    opacity: 20%;
  }
  ul.etincelo-menu li.active a {
    background-color: #FFD298;
    color: #000
  }
  ul.etincelo-menu li:not(.active) a:hover {
    background-color: #FFE1BA;
    color: #000
  }
  @media all and (max-width: 768px) {
    ul.etincelo-menu {
      flex-direction: column;
    }
    ul.etincelo-menu li {
      width: 100%;
    }
    ul.etincelo-menu li a {
      display: block;
      padding: 4px 16px;
    }
  }
  article {
    padding: 0.1em 1em 0.1em 1em;
    margin-top: 1em
  }
  footer {
    /*font-size: 0.8em;*/
    margin-top: 1em;
    padding: 1em 0 3em 0;
  }
  #inputVerifyEmail {
    position: absolute;
    left: -5000px
  }
  #newsletter {
    display: flex;
    gap: 5px;
  }
  #newsletter .field.grow {
    flex-grow: 1
  }
  input[type=email] {
    box-sizing: border-box;
    display: block;
    height: 48px;
    padding: 6px 16px;
    width: 100%;
    border: none;
  }
  button {
    cursor: pointer;
    height: 48px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
  }
  #newsletters ul {
    list-style-type: none;
    padding: 0;
  }
  #newsletters ul li {
    padding: 0.3em 0;
  }
  #newsletters ul li a {
    text-decoration: none;
    color: unset;
  }
  #newsletters ul li p {
    margin: 0;
  }
  #newsletters ul li p.date.type {
    opacity: 0.3;
    font-size: 0.7em;
  }

  ul.soc {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  ul.soc li {
    display: inline-block;
    margin: 0.8rem;
  }
  ul.soc a, ul.soc svg {
    display: block;
    fill: white;
  }
  ul.soc a {
    height: 2.6rem;
    width: 2.6rem;
  }
  ul.soc .ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 0;
    width: 100%;
  }
  ul.soc .ir > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
</style>
{% block style %}{% endblock %}
<header class="has-background">
  <section class="logo-container">
    <a href="/">
      {% include 'logo.jinja' %}
    </a>
  </section>
  {% block menu %}
  <nav>
    <section>
      <ul class="etincelo-menu">
        <li class="{{ 'active' if selected == 'index' }}"><a href="index.html">Accueil</a></li>
        <li class="{{ 'active' if selected == 'qui-sommes-nous' }}"><a href="qui-sommes-nous.html">Qui sommes-nous&nbsp;?</a></li>
        <li class="{{ 'active' if selected == 'boutique' }}"><a href="boutique.html">Boutique</a></li>
        <li class="{{ 'active' if selected == 'chants' }}"><a href="chants.html">Les chants</a></li>
      </ul>
    </section>
  </nav>
  <nav class="secondary-nav">
    <section>
      <ul class="etincelo-menu">
        <li class="{{ 'active' if selected == 'parcours-nazareenne' }}"><a href="parcours-nazareenne.html">Parcours <em>Nazaréenne</em></a></li>
        <li class="{{ 'active' if selected == 'calendrier' }}"><a href="calendrier.html">Parcours <em>Etince10</em></a></li>
      </ul>
    </section>
  </nav>
  {% endblock %}
</header>
<main>
  {% block content %}{% endblock %}
</main>
<footer>
  {% block footer %}
  <section>
    <p style="font-variant:small-caps">Quelques moyens pour soutenir notre mission</p>
    <ul>
      <li>Prier pour nous
      <li>Faire un don pour financer nos projets&nbsp;:<br/>ULULE: <a target="_blank" href="//ulule.com/etincelo-un-nouvel-album-avec-marie/">Nazaréenne</a> en cours de financement&nbsp;!<br/>IBAN: FR98 2004 1010 1111 4198 6Y03 270
      <li>Acheter et offrir nos CD&nbsp;:<br><a href="https://boutique.etincelo.com" target="_blank">boutique.etincelo.com</a>
      <li>S'abonner à notre newsletter et nos réseaux sociaux
    </ul>
    {% include 'filtered-social-links.jinja' %}
  </section>
  {% endblock %}
</footer>

{% block script %}{% endblock %}
