<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<title>Etincelo | Calendrier de l'Avent</title>
<style>
  body {
    background: ivory
  }
  .has-background {
    background-image: url(/images/photo-1430799800631-b8de6ce1fad5.jpg);
    background-position: 50% 20%;
    background-size: cover;
  }
  nav {
    background: rgba(255,255,255,0.9);
  }
  footer {
    background: rgb(102, 48, 48);
    color: #FFF
  }
  input[type=email] {
    background-color: #f3f3f3;
  }
  #newsletters li {
    background-color: aliceblue
  }
  footer a {
    color: #fff
  }
  @media (prefers-color-scheme: dark){
    body {
      background:#000
    }
    .has-background {
      background-image: unset;
    }
    nav {
      background: rgba(0,0,0,0.9);
    }
    svg.etincelo-logo .etincelo-main {
      fill: #ffebcd;
    }
    ul.etincelo-menu {
      border: 1px solid;
    }
    footer {
      background: #555;
      color: unset
    }
    input[type=email] {
      background-color: #555;
    }
    #newsletters li {
      background-color: #555;
    }
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    margin:0 auto;
    font:1.2em/1.62 sans-serif
  }
  body > header {
    padding: 1em 0 0 0;
  }
  section {
    margin: 0 auto;
    padding: 0 .62em;
    max-width:40em;
  }
  main {
    flex: 1;
  }
  h1,h2,h3 {
    line-height:1.2
  }
  @media print{
    body{
      max-width:none
    }
  }
  svg.etincelo-logo {
    width: 100%;
    height: 96px;
  }
  svg.etincelo-logo .etincelo-highlight {
    fill: #710000;
  }
  ul.etincelo-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
    overflow: hidden;
  }
  ul.etincelo-menu li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.etincelo-menu li a {
    color: unset;
  }
  ul.etincelo-menu li.active a {
    background-color: #FFD298;
    color: #000
  }
  ul.etincelo-menu li.disabled {
    flex: 1;
    width: 100%;
    text-align: center;
  }
  ul.etincelo-menu li.disabled a {
    opacity: 20%;
  }
  ul.etincelo-menu li.active a {
    background-color: #FFD298;
    color: #000
  }
  ul.etincelo-menu li:not(.active) a:hover {
    background-color: #FFE1BA;
    color: #000
  }
  @media all and (max-width: 768px) {
    ul.etincelo-menu {
      flex-direction: column;
    }
    ul.etincelo-menu li {
      width: 100%;
    }
    ul.etincelo-menu li a {
      display: block;
      padding: 4px 16px;
    }
  }
  footer {
    /*font-size: 0.8em;*/
    margin-top: 1em;
    padding: 0 0 3em 0;
  }
  #inputVerifyEmail {
    position: absolute;
    left: -5000px
  }
  #newsletter {
    display: flex;
    gap: 5px;
  }
  #newsletter .field.grow {
    flex-grow: 1
  }
  input[type=email] {
    box-sizing: border-box;
    display: block;
    height: 48px;
    padding: 6px 16px;
    width: 100%;
    border: none;
  }
  button {
    height: 48px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
  }
  #newsletters {
    list-style-type: none;
    padding: 0;
  }
  #newsletters li {
    padding: 6px 16px;
  }
  #newsletters li a {
    text-decoration: none;
    color: unset;
  }
  #newsletters li p {
    margin: 0;
  }
  #newsletters li p.date.type {
    opacity: 0.3;
    font-size: 0.7em;
  }
</style>
<header class="has-background">
  <section>
    {% include 'logo.jinja' %}
  </section>
  <nav>
    <section>
      <ul class="etincelo-menu">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="https://boutique.etincelo.com" target="_blank">Boutique</a></li>
        <li class="disabled"><a href="#">Les chants (à venir)</a></li>
        <li class="active"><a href="calendrier.html">Calendrier de l'Avent</a></li>
      </ul>
    </section>
  </nav>
</header>
<main>
  <section>
    <h3>Pour recevoir le calendrier par email&nbsp;:</h3>
    <form id="newsletter" name="contact" method="POST" data-netlify="true" action="/api/newsletter-subscribe">
      <div class="field grow">
        <div class="control">
          <input id="inputEmail" class="input" type="email" name="email" placeholder="Entrez votre adresse email pour vous inscrire..." autocomplete="off">
        </div>
      </div>
      <div class="field" aria-hidden="true">
        <div class="control">
          <input id="inputVerifyEmail" type="text" name="verifyEmail" placeholder="Verify email" tabindex="-1" value="" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button id="button" type="submit" class="button is-primary">Envoyer</button>
        </div>
      </div>
    </form>
    <ul id="newsletters">
      {% for newsletter in newsletters %}
      <li>
        <a href="{{ newsletter['archive_url_long'] }}" target="_blank">
          <p class="date type">{{ newsletter['send_time'] }}</p>
          <p class="subtitle">{{ newsletter['subject'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
<footer>
  <section>
    <p>Quelques moyens pour soutenir notre mission</p>
    <ul>
      <li>Prier pour nous
      <li>Faire un don pour financer nos projets&nbsp;:<br/>IBAN: FR98 2004 1010 1111 4198 6Y03 270
      <li>Acheter et offrir nos CD&nbsp;:<br><a href="https://boutique.etincelo.com" target="_blank">boutique.etincelo.com</a>
      <li>S'abonner à notre newsletter et nos réseaux sociaux&nbsp;:<br><a href="https://instagram.com/etincelomusic" target="_blank">Instagram</a> - <a href="https://facebook.com/etincelo" target="_blank">Facebook</a> - <a href="https://youtube.com/etincelo" target="_blank">YouTube</a>
    </ul>
  </section>
</footer>
<script>
  var form = document.getElementById('newsletter');

  form.addEventListener("submit", function(e) {
    e.preventDefault();
    var email = document.getElementById('inputEmail').value;
    var segment = 'calendar';
    var verifyEmail = document.getElementById('inputVerifyEmail').value;
    if (verifyEmail) {
      return false;
    }
    submitSubscription({email, segment})
  });

  function submitSubscription(data) {
    fetch(form.action, {
      method: form.method,
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      var submitButton = document.getElementById('button');
      submitButton.innerText = 'Envoyé !'
      document.getElementById('inputEmail').value = '';
      submitButton.disabled = true
    });
  };
</script>
