{% extends "base.jinja" %}

{% block title %}Etincelo | Etince10{% endblock %}

{% block style %}
<style>
article.highlight {
  font-size: 0.8em;
}
article.post {
  border: 1px solid #ccc;
  font-size: 0.8em;
}
article.post p {
  margin-top: 0;
  margin-bottom: 0;
}
</style>
{% endblock %}

{% block menu %}
      <ul class="etincelo-menu">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="https://boutique.etincelo.com" target="_blank">Boutique</a></li>
        <li class="flex-1"><a href="chants.html">Les chants</a></li>
        <li class="active"><a href="calendrier.html">Etince10</a></li>
      </ul>
{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <h2>Le calendrier de l'Avent Etince10</h2>
      <p>Lors de l'Avent 2023, à l'occasion des 10 ans d'Etincelo, <strong>nous vous avons proposé d'avancer vers Noël</strong> accompagnés par les textes et mélodies de nos 10 premières années. De petites pépites sur les chants et sur notre histoire ont été parsemées sur le chemin&nbsp;!
      <p>🎁
      <br/>Plus qu’un simple calendrier, nous vous avons emmené sur un <em>un parcours</em>, à travers trois grands thèmes, se basant sur le sens de chacun des 25 chants produits jusque là. Nous voyons vraiment ce parcours comme un cadeau reçu du Seigneur pour notre édification à chacun.<br/><strong>Cadeau pour nous, cadeau pour vous.</strong>
      <p>Bonne route vers l’étable !</p>
      <div style="display: flex; justify-content: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/UH6xsVqTVRQ?si=mMa-yKVgyNRX5n1v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      <p></p>
    </article>
  </section>
  <section>
    <article id="newsletters">
    <ul id="newsletters">
      {% for newsletter in newsletters %}
      <li>
        <a href="#{{ newsletter['id'] }}">
          <p class="date type">{{ newsletter['send_time'] }}</p>
          <p class="subtitle">{{ newsletter['subject'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    </article>
  </section>
  <section>
    {% for newsletter in newsletters %}
      <article class="post" id="{{ newsletter['id'] }}">
        {{ contents[newsletter['id']]|safe }}
      </article>
    {% endfor %}
  </section>
{% endblock %}
