{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine | Les chants{% endblock %}

{% block style %}
<style>
ul.songlist {
  font-variant: small-caps;
  list-style: none
}
</style>
{% endblock %}

{% block menu %}
    <ul class="etincelo-menu">
      <li><a href="index.html">Accueil</a></li>
      <li><a href="https://boutique.etincelo.com" target="_blank">Boutique</a></li>
      <li class="active flex-1"><a href="chants.html">Les chants</a></li>
      <li><a href="calendrier.html">Calendrier de l'Avent</a></li>
    </ul>
{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>Les chants.</h1>
      <aside>Sur cette page, retrouvez tous ce qu'on a rassemblé pour vous sur nos chants. Nous sommes heureux de vous partager autant que possible, pour agrémenter votre prière personnelle, vos temps de louanges et les célébrations liturgiques.</aside>
      <aside>Pour toute demande concernant nos chants, n'hésitez pas à nous envoyer un message à .</aside>
    </header>
    <article class="highlight">
      <ul class="songlist">
        {% for songid, title in titles.items() %}
        <li>
          <a href="{{ songid }}.html">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      <ul>
    </article>
  </section>
{% endblock %}
