{% extends "base.jinja" %}

{% block title %}Etincelo | Confirmation de la commande{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <p>Votre commande a bien été passée.
      <p>Un très grand merci, nous la traiterons dès que possible&nbsp;!
      <p style="text-align:center"><a href="boutique.html">Retour à la boutique</a>
    </article>
  </section>
{% endblock %}
