{% extends "base.jinja" %}

{% block title %}Etincelo | François notre frère{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <div style="text-align: center">
        <img style="max-height: 600px; max-width: 100%" src="images/fnf-banner.png" /></a>
      </div>
      <h3>François, notre frère</h3>
      <p>L’année 2026 offre une occasion très spéciale pour que la louange franciscaine résonne&nbsp;: <strong>l’année jubilaire franciscaine</strong>, par laquelle toute l’Église célèbre les 800 ans de la mort du petit pauvre d’Assise - si cher à nos yeux et à nos cœurs.
      <p>Et c’est à ce <em>moment clé</em> que nous avons la joie de travailler sur <strong>un nouvel album</strong>, qui s’intitulera <em>François notre frère</em>, en collaboration fraternelle avec nos amis les musiciens de <a target="_blank" href="https://reparemoneglise.com/musique/">Répare mon Église</a>. 
      <hr>
      <h4>Notre appel franciscain&nbsp;: la louange… et la mendicité&nbsp;!</h4>
      <p>Étant tous deux <em>franciscains séculiers</em>, c'est par ce même élan et engagement que nous voulons continuer notre louange&nbsp;! Nous entendons <strong>un appel à vivre et faire vivre des moments privilégiés</strong> avec le Seigneur par nos chants, en mettant humblement à l'honneur ce qui comptait tant pour François&nbsp;: le Christ et sa très sainte Mère, dans la joie et la simplicité.
      <p>L’album <em>François notre frère</em> sera bientôt disponible. Produire un tel album, depuis l'écriture, l'arrangement et l'enregistrement jusqu'à son pressage, sa publication et sa promotion est <strong>un travail considérable</strong>, en grande partie effectué par des professionnels - dans une ambiance fraternelle !
      <p>Pour le financer, <strong>nous avons besoin de rassembler 5000€</strong> (notre participation dans cette collaboration avec <em>Répare mon Église</em>). Naturellement, votre prière et votre aide financière est vraiment essentielle, pour ensemble parvenir à cet objectif… et nous permettre de continuer notre mission <em>louangeuse</em>, musicale et franciscaine !
      <hr>
      <h4>Concrètement, pour nous soutenir&nbsp;:</h4>
      <p>Tout don peut être fait soit <strong>en main propre</strong> soit <strong>par virement sur notre compte en banque au nom d’Etincelo</strong>&nbsp;:
      <p style="text-align:center">IBAN: FR98 2004 1010 1111 4198 6Y03 270
      <p>Comme petit souvenir de votre participation dans ce beau projet, nous vous proposons&nbsp;: 
      <ul>
        <li>Pour tout don <strong>à partir de 25€</strong>&nbsp;: une copie de l’album (que vous recevrez dès sa sortie)
        <li>Pour tout don <strong>à partir de 50€</strong>&nbsp;: l’album + le mug Saint François
        <li>Pour tout don <strong>à partir de 75€</strong>&nbsp;: l’album + le mug Saint François + le mug Sainte Claire
      </ul>
      <div style="text-align: center">
        <img style="max-height: 600px; max-width: 100%" src="images/fnf-mugs.png" /></a>
      </div>
      <p><small><em>Merci d'avance pour votre prière et vos soutiens,</em></small>
      <p style="text-align:right"><small><em>Noémi et Hubert</em></small>
    </article>
  </section>
{% endblock %}
