{% extends "base.jinja" %}

{% block title %}Etincelo | François notre frère{% endblock %}

{% block style %}
<style>
a.fnf-banner {
  margin-top: 1em;
  display: block;
  line-height: 0;
}
a.fnf-link {
  display: inline-block;
  cursor: pointer;
  background-color: #558E7C;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}
a.fnf-link:hover {
  background-color: #958E7C;
}
article.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
</style>
{% endblock %}

{% block content %}
  <section>
    <a class="fnf-banner" href="#fnf-links" onclick="event.preventDefault();document.getElementById('fnf-links').scrollIntoView({behavior: 'smooth'});">
      <img alt="François notre frère" style="max-width: 100%" src="images/fnf-release.jpg" />
    </a>
    <article class="highlight" style="margin-top: 0">
      <p>L’année 2026 offre une occasion très spéciale pour que la louange franciscaine résonne&nbsp;: <strong>l’année jubilaire franciscaine</strong>, par laquelle toute l’Église célèbre les 800 ans de la mort du petit pauvre d’Assise - si cher à nos yeux et à nos cœurs.
      <p>Et c’est à ce <em>moment clé</em> que nous avons eu la joie de travailler sur <strong>un nouvel album</strong>, <em>François notre frère</em>, en collaboration fraternelle avec nos amis les musiciens de <a target="_blank" href="https://reparemoneglise.com/musique/francois-notre-frere/">Répare mon Église</a>. 
      <p>Chacun, au fil du temps, a composé et chanté à partir de la vie et des textes de saint François. Chacun, de son côté, a eu le désir de les proposer plus largement à l’occasion du jubilé, pour partager cette prière qui nous a tant nourris. Quand nous nous sommes aperçu que nous partagions ce même désir, il fut évident qu’il fallait le mener ensemble, en famille&nbsp;!
    </article>
    <article class="highlight">
      <h4>Notre appel franciscain&nbsp;: la louange… et la <em>mendicité</em>&nbsp;!</h4>
      <p>Étant tous deux <em>franciscains séculiers</em>, c'est par ce même élan et engagement que nous voulons continuer notre louange&nbsp;! Nous entendons <strong>un appel à vivre et faire vivre des moments privilégiés</strong> avec le Seigneur par nos chants, en mettant humblement à l'honneur ce qui comptait tant pour François&nbsp;: le Christ et sa très sainte Mère, dans la joie et la simplicité.
      <p>Produire un tel album, depuis l'écriture, l'arrangement et l'enregistrement jusqu'à son pressage, sa publication et sa promotion était un travail considérable, en grande partie effectué par des professionnels - dans une ambiance fraternelle&nbsp;!
      <p>Pour le financer, nous avons donc fait appel à votre générosité, et tenons à remercier chaleureusement tous nos donateurs, en particulier la Brasserie d'Orval pour son soutien précieux.
      <p style="text-align:center"><em>Avec le soutien de la Brasserie d’Orval</em>
      <div style="text-align: center">
        <img style="max-height: 200px; max-width: 100%" src="images/orval.png" /></a>
      </div>
      <p>C'est une joie de partager avec vous ces dix chants, en espérant de tout cœur qu’ils vous aideront, comme ils nous aident, à prier et à aimer à la suite de François, notre frère&nbsp;!
      <p style="text-align:right"><small><em>Noémi et Hubert</em></small>
    </article>
    <article class="video highlight" id="fnf-links">
      <div style="text-align: center;padding:8px 0;">
        <a class="fnf-link" href="https://distrokid.com/hyperfollow/rparemongliseandetincelo/franois-notre-frre" target="_blank">Écouter l’album</a>
      </div>
      <div style="text-align: center">
        <iframe width="100%" src="https://www.youtube-nocookie.com/embed/Wdjqv7WN9Eo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div style="text-align: center;padding-bottom:8px;">
        <a class="fnf-link" href="https://reparemoneglise.com/wp-content/uploads/2026/09/partitions_francois-notre-frere.pdf" target="_blank">Télécharger les partitions</a>
      </div>
      <div style="text-align: center;padding-bottom:8px;">
        <a class="fnf-link" href="https://reparemoneglise.com/wp-content/uploads/2026/09/origines-chants_francois-notre-frere.pdf" target="_blank">Découvrir l’origine des textes</a>
      </div>
    </article>
  </section>
{% endblock %}
