{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>Nous sommes Etincelo.</h1>
      <aside>Groupe de <em>pop louange franciscaine</em>, en activité depuis 2013.</aside>
      <p><small>Pour en savoir plus, rendez-vous la page <em><a href="qui-sommes-nous.html">Qui sommes-nous&nbsp;?</a></em></small>
    </header>
    <article class="highlight">
      <h3>Etincelo au couvent Saint-Antoine de Bruxelles&nbsp;!</h3>
      <p>Avec grande joie, Etincelo vous invitera à chanter <em>aux côtés de François d'Assise et de Marie</em> <strong>le 13 juin 2026 au couvent Saint-Antoine</strong>, rue d'Artois à Bruxelles.
      <p>En cette année jubilaire franciscaine, redécouvrons leur présence et leur amour pour Jésus, pour nous tourner résolument vers la joie du Ciel&nbsp;!
      <p>À cette occasion, nous vous partagerons également quelques chants de notre nouvel album en préparation&nbsp;: <em>François, notre frère.</em>
      <p><small>L'entrée est libre, votre participation aux frais également.</small>
      <br><small>Hâte de vivre ça tous ensemble !</small>
      <div style="text-align: center">
        <img style="max-height: 600px; max-width: 100%" src="images/stantoine.affiche.jpg" />
      </div>
      <p><em>L'occasion peut-être aussi, pour vous, dès aujourd'hui, de (re)plonger avec elle dans la prière, à travers les chants du dernier album Nazaréenne ci-dessous.</em>
      <!-- Elfsight Audio Player | Nazaréenne -->
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div class="elfsight-app-994cf045-b739-4948-b95e-9d919bb291e1" data-elfsight-app-lazy></div>
    </article>
  </section>
  <section>
    <article id="newsletters">
    <h3>La newsletter</h3>
    <form id="newsletter" name="contact" method="POST" data-netlify="true" action="/api/newsletter-subscribe">
      <div class="field grow">
        <div class="control">
          <input id="inputEmail" class="input" type="email" name="email" placeholder="Entrez votre adresse email pour vous inscrire..." autocomplete="off">
        </div>
      </div>
      <div class="field" aria-hidden="true">
        <div class="control">
          <input id="inputVerifyEmail" type="text" name="verifyEmail" placeholder="Verify email" tabindex="-1" value="" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button id="button" type="submit" class="button is-primary">Envoyer</button>
        </div>
      </div>
    </form>
    <ul>
      {% for newsletter in newsletters %}
      <li>
        <a href="{{ newsletter['archive_url_long'] }}" target="_blank">
          <p class="date type">{{ newsletter['send_time'] }}</p>
          <p class="subtitle">{{ newsletter['subject'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    </article>
  </section>
{% endblock %}

{% block script %}
<script>
  var form = document.getElementById('newsletter');

  form.addEventListener("submit", function(e) {
    e.preventDefault();
    var email = document.getElementById('inputEmail').value;
    var verifyEmail = document.getElementById('inputVerifyEmail').value;
    if (verifyEmail) {
      return false;
    }
    submitSubscription({email})
  });

  function submitSubscription(data) {
    fetch(form.action, {
      method: form.method,
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      var submitButton = document.getElementById('button');
      submitButton.innerText = 'Envoyé !'
      document.getElementById('inputEmail').value = '';
      submitButton.disabled = true
    });
  };
</script>
{% endblock %}
