{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>Nous sommes Etincelo.</h1>
      <aside>Groupe de <em>pop louange franciscaine</em>, en activité depuis 2013.</aside>
      <p><small>Pour en savoir plus, rendez-vous la page <em><a href="qui-sommes-nous.html">Qui sommes-nous&nbsp;?</a></em></small>
    </header>
    <article class="highlight">
      <h3>Un nouvel album, avec Marie</h3>
      <p>C'est avec une immense joie qu'on vous dévoile la suite de nos aventures&nbsp;: <strong>Nazaréenne</strong>&nbsp;!
      <div style="display: flex; justify-content: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/xRBUcpnEAec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      <p>À travers notre prochain album, nous vous emmenons dans un univers qui nous est cher&nbsp;: celui de <strong>Marie</strong>, l'humble jeune fille de Nazareth par qui le cours de notre Histoire a changé.
      <p>Car là où il y a Jésus, Marie est là. Là où il y a notre louange, c'est <strong>Marie qui nous entraîne avec elle</strong>.
      <p>Après 10 ans d'existence, nous avons senti <strong>un appel clair à lui consacrer notre mission</strong> à travers un album qui lui est entièrement dédié.
      <p>Conscients que l'étincelle et l'appel d'Etincelo nous dépassent, qu'ils concernent toute <strong>une communauté qui souhaite louer et porter Dieu</strong> à travers la louange franciscaine, nous vous invitons à nous épauler dans cette mission.
      <p>Jusqu'au 31 mai, nous vous dévoilerons petit à petit le fruit de notre prière et de la présence de Marie à nos côtés, <strong>en espérant que cette prière puisse aussi devenir la vôtre</strong> pour confier avec nous ce projet.
      <p>Afin que les 10 chants, rassemblés dans ce nouvel opus intitulé <em>Nazaréenne</em>, soient portés au monde, <strong>nous avons besoin de vous</strong>&nbsp;! Pour cela, nous avons fait une campagne de financement participatif <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">sur Ulule</a>, qui s’est terminée avec succès.
      <p>Cela dit, pour permettre à chacun et chacun d’encore pouvoir participer et recevoir quelques sympathiques contreparties, nous avons cependant activé <em>les prolongations</em> <strong>pour toute la durée du mois de mai</strong>&nbsp;!
      <p>Bonne route avec Marie&nbsp;!</p>
      <div style="text-align: center">
        <a href="//ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">
          <img src="images/nazareenne.artwork.jpg" />
        </a>
      </div>
    </article>
  </section>
  <section>
    <article id="newsletters">
    <h3>La newsletter</h3>
    <form id="newsletter" name="contact" method="POST" data-netlify="true" action="/api/newsletter-subscribe">
      <div class="field grow">
        <div class="control">
          <input id="inputEmail" class="input" type="email" name="email" placeholder="Entrez votre adresse email pour vous inscrire..." autocomplete="off">
        </div>
      </div>
      <div class="field" aria-hidden="true">
        <div class="control">
          <input id="inputVerifyEmail" type="text" name="verifyEmail" placeholder="Verify email" tabindex="-1" value="" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button id="button" type="submit" class="button is-primary">Envoyer</button>
        </div>
      </div>
    </form>
    <ul>
      {% for newsletter in newsletters %}
      <li>
        <a href="{{ newsletter['archive_url_long'] }}" target="_blank">
          <p class="date type">{{ newsletter['send_time'] }}</p>
          <p class="subtitle">{{ newsletter['subject'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    </article>
  </section>
{% endblock %}

{% block script %}
<script>
  var form = document.getElementById('newsletter');

  form.addEventListener("submit", function(e) {
    e.preventDefault();
    var email = document.getElementById('inputEmail').value;
    var verifyEmail = document.getElementById('inputVerifyEmail').value;
    if (verifyEmail) {
      return false;
    }
    submitSubscription({email})
  });

  function submitSubscription(data) {
    fetch(form.action, {
      method: form.method,
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      var submitButton = document.getElementById('button');
      submitButton.innerText = 'Envoyé !'
      document.getElementById('inputEmail').value = '';
      submitButton.disabled = true
    });
  };
</script>
{% endblock %}
