{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <p>👼🕊️👸<br/>Aujourd'hui, nous célébrons la fête de <strong>l'Annonciation</strong>, mémoire d'un événement déterminant pour notre Histoire : Dieu touche du doigt notre terre, à Nazareth en Galilée, par le #oui d'une jeune fille qui a cru en lui&nbsp;!

      <p>Beau jour pour vous présenter un extrait du titre "Tu as porté un enfant", qui nous immerge dans cette rencontre de Marie avec l'ange, et qui figurera dans l'album <em>Nazaréenne</em> qui sortira très bientôt.
      <hr>
      <p>Pour que la présence de Marie puisse venir à tout un chacun avec cet album, nous avons besoin de vous&nbsp;!
      <p>Nous venons de lancer <strong>une campagne de financement participatif</strong> sur Ulule (voir lien dans la bio) pour vous présenter le projet et vous permettre de nous rejoindre dans l'aventure.
      <p>Bonne fête, restez avec nous&nbsp;!&nbsp;📻

      <p>#louange #poplouange #franciscains #annonciation #nazaréenne
    </article>
  </section>
{% endblock %}
