{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <p>Un album de chants pour vivre un moment aux côtés de Marie, est-ce que ça vous chante&nbsp;?
      <p>Est-ce que ça vous enchante&nbsp;?
      <hr>
      <p>Nous sommes Etincelo, un <strong>groupe de pop louange franciscaine</strong>, né il y a 10 ans après un chapitre des familles organisé par les frères comme celui que nous allons vivre cet été&nbsp;! Inscrivez-vous c'est une grâce&nbsp;!
      <p>À l'occasion de nos 10 ans, <strong>nous avons ressenti un appel <em>clair</em> de Marie</strong> à continuer cette mission musicale et écclésiale en lui consacrant un album, qui s'appellera "Nazaréenne".
      <p>Le but de cet album est VRAIMENT <strong>d'inviter chacun à vivre un moment</strong>, et même commencer (ou poursuivre) tout un chemin, avec elle&nbsp;!
      <p>L'album s'appelle "Nazaréenne" parce que ça la rend habitante de notre terre, <strong>ça la rend présente</strong>, un peu comme une grande sœur.
      <p>L'album comprendra 10 chants, dont certains qu'on a déjà commencé à chanter ici au couvent, pour se placer à côté d'elle, se laisser porter par elle, et <strong>vivre avec elle un moment de qualité</strong>, tournés vers Dieu.
      <p>Est-ce que ça vous parle&nbsp;?
      <hr>
      <p>Pour vivre et faire vivre ce temps et ce chemin avec Marie au plus grand nombre, <strong>on a besoin de vous</strong>, très concrètement&nbsp;!
      <p>Nous venons de lancer <strong>une campagne de financement participatif</strong> ("crowdfunding") sur la plateforme Ulule.
      <p>Cette campagne a pour but de <strong>récolter les fonds nécessaires</strong> à la réalisation de l'album, mais aussi, d'ores et déjà de <strong>diffuser le plus largement possible</strong> ce projet, qui, j'ai envie de dire, est avant tout <strong>un projet "de Marie"</strong>.
      <p>Nous sentons que <strong>nous ne sommes pas appelés à porter ce projet seuls</strong>, que c'est un projet qui concerne tout une communauté qui souhaite louer et porter Dieu, à travers Marie, et à travers la joie franciscaine.
      <p>Si ce projet vous parle, on a besoin de vous&nbsp;!
      <p>Tout d'abord pour <strong>beaucoup prier</strong> pour ce projet, pour que ce soit vraiment <strong>le projet de Marie qui se réalise</strong>.
      <p>Si le cœur vous en dit, pour <strong>en parler et diffuser autour de vous</strong>.
      <p>Et si vous le pouvez pour <strong>faire décoller cette collecte</strong>&nbsp;! Réaliser un album coûte cher, en argent, en temps et en énergie, et chaque petit don compte pour qu'on atteigne ensemble la somme nécessaire.
      <p>Si ce projet vous parle, vous trouverez toutes <strong>les informations plus concrètes sur le web</strong>, en cherchant Etincelo, en 8 lettres, E-T-I-N-C-E-L-O.
      <p>Si vous avez des questions, ou des suggestions, n'hésitez pas à venir nous voir&nbsp;!
      <p>Merci à chacun, <strong>un bon dimanche de la Miséricorde</strong>&nbsp;!
    </article>
  </section>
{% endblock %}
