<article class="highlight highlight-info" style="text-align:center">
<h4>Notre Père</h4>
<h4>Je vous salue Marie</h4>
<h4>Gloire au Père</h4>
<h4 style="margin-bottom:0.5em">Prière de François devant le crucifix de Saint Damien</h4>
<p style="margin-top:0.5em">Dieu très haut et glorieux<br>
Viens éclairer les ténèbres de mon cœur<br>
Donne-moi une foi droite<br>
Une espérance solide<br>
Et une parfaite charité
<p>Donne-moi de sentir et de connaître<br>
Afin que je puisse l'accomplir<br>
Ta volonté sainte qui ne saurait m'égarer
</article>
