{% extends "base.jinja" %}

{% block title %}Etincelo | La pop louange franciscaine{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <p>Chers amis,
      <p>à travers notre album <em>Nazaréenne</em> qui va sortir très bientôt, nous vous emmenons dans un univers qui nous est cher&nbsp;: celui de <strong>Marie</strong>, l'humble jeune fille de Nazareth par qui le cours de notre Histoire a changé.
      <p>Convaincus que l'appel d'Etincelo est ecclésial et nous dépasse, qu'ils concerne toute une communauté qui souhaite louer et porter Dieu à travers la louange franciscaine, <strong>nous vous invitons à nous épauler dans cette mission</strong>.
      <hr/>
      <h3>Nous avons besoin de vous pour <em>Nazaréenne</em>&nbsp;!</h3>
      <p>Nous avons lancé <a href="https://www.ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">une campagne de financement participatif sur Ulule</a>, où vous pourrez tout en nous soutenant financièrement, précommander l'album mais aussi recevoir quelques sympathiques contreparties&nbsp;! Concrètement, nous avons <strong>jusqu'au 17 mai</strong> pour rassembler la somme de 8000&nbsp;€ nécessaire à la réalisation de l'album. Le principe du financement sur Ulule est que, si cette somme n'est pas atteinte d'ici là, vous serez tous remboursés et nous ne recevrons rien.
      <p>Pour arriver à rassembler la somme, nous avons besoin de vous. Nous avons aussi vraiment <strong>besoin de vos prières et de vos initiatives</strong> pour diffuser un maximum l'information et qu'elle puisse arriver aux oreilles du plus grand nombre, en particulier de celles ou ceux que ce projet pourrait toucher. Il nous semble que c'est de cette manière que ce projet peut réellement être un <strong>projet écclésial</strong>&nbsp;!
      <hr/>
      <h3>Parcours de mai <em>Nazaréenne</em>&nbsp;!</h3>
      <p>Aussi, nous avons la joie de vous annoncer que pour progresser ensemble et avec Marie en ce mois de mai qui vient, <strong>nous vous proposons dès demain un parcours <em>Nazaréenne</em></strong>&nbsp;!
      <p>Tout au long du mois de mai, nous partagerons <strong>tous les 3 jours un extrait d'un chant de l'album</strong> avec un peu de contenu pour nourrir notre prière, sur notre site internet et sur les réseaux sociaux. Nous vous enverrons un petit récapitulatif une fois par semaine. Si vous souhaitez recevoir les contenus au fur et à mesure, c'est-à-dire tous les 3 jours par email ou par WhatsApp, n'hésitez pas à nous envoyer un petit message, par exemple en répondant à cette newsletter.
      <p>Nous avons hâte de vous emmener… avec elle !
      <p>À très vite, restez avec nous ! 📻
      <p>Pace e bene,
      <p>Hubert et Noémi
      <hr/>
      <p>Vous trouverez notre page projet Ulule <a href="https://www.ulule.com/etincelo-un-nouvel-album-avec-marie" target="_blank">en cliquant ici</a>.
      <p>AJOUTER VIDÉO
    </article>
  </section>
{% endblock %}
