{% extends "base.jinja" %}

{% block title %}Etincelo | Parcours Nazaréenne{% endblock %}

{% block style %}
<style>
article.highlight {
  font-size: 0.8em;
}
article.post {
  border: 1px solid #ccc;
  font-size: 0.8em;
}
</style>
{% endblock %}

{% block content %}
  <section>
    <article class="highlight">
      <h2>Le parcours de mai <em>Nazaréenne</em></h2>
      <p>Lors du mois de mai 2024, pour progresser ensemble et avec Marie en ce mois qui lui est dédié, nous vous avons proposé un parcours <em>Nazaréenne</em>&nbsp;!
      <p>Tous les 3 jours, nous avons dévoilé <strong>un extrait d'un chant de l'album <em>Nazaréenne</em></strong> qui est sorti le 31 mai 2024.
      <p>Cet extrait a été publié avec <strong>un petit contenu pour nourrir notre prière</strong>, sur cette page et sur les réseaux sociaux.
      <p>Quelle joie de vous emmener… <strong>avec elle</strong>&nbsp;!
    </article>
  </section>
  <section>
    <article id="newsletters">
    <ul id="posts">
      {% for post in posts %}
      <li>
        <a href="#{{ post['id'] }}">
          <p class="date type">{{ post['send_time'] }}</p>
          <p class="subtitle">{{ post['subject'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    </article>
  </section>
  <section>
    {% for post in posts %}
      <article class="post" id="{{ post['id'] }}">
        {{ post['contents']|safe }}
      </article>
    {% endfor %}
  </section>
{% endblock %}
