{% extends "base.jinja" %}

{% block title %}Etincelo | Qui sommes-nous&nbsp;?{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>Enchantés, nous sommes Etincelo.</h1>
      <p><small><em>Si vous ne l'avez pas prononcé avec son petit "n'tchè-lo" frais et léger qui nous vient tout droit des collines de l'Italie... recommencez et laissez entrer le soleil ! 🌻</em></small>
    </header>
    <article class="highlight">
      <h4>En 2013, sur la route du retour d'un rassemblement à Assise, une étincelle est née, transportant avec elle un peu de <em>pop louange franciscaine</em>.</h4>
      <p>Derrière le nom Etincelo, qui signifie <em>et au ciel</em> en langue latine, vous trouverez un <strong>groupe de musique chrétienne</strong>, qui s'est constitué autour de Cholet en 2013, pour vivre une expérience musicale orientée vers la liturgie et la liberté d'exprimer avec des chants leur amour pour Dieu.
      <p>10 ans après, les musiciens d'origine sont éloignés les uns des autres (géographiquement 😀), les modes de fonctionnement et les acteurs du projet ont changé, mais <strong>l'étincelle continue sa musique</strong> grâce à de belles rencontres et vos nombreux encouragements !
      <p>Aujourd'hui, ce sont Hubert et son épouse Noémi, depuis la Belgique, qui portent les projets d'Etincelo, avec ce désir fort de vivre et faire vivre une aventure ecclésiale et familiale avec des chants qui portent à la joie et l'intimité avec Dieu…
    </article>
  </section>
{% endblock %}
